body{
    font-family: 'Montserrat';
}
#title{
    background-color: #ff4c68;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{
    font-family: 'Montserrat-dark', sans-serif;
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
}
h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem; 
    line-height: 1.5;
    font-weight: bold;
}
h3{
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: bold;
}
p{
    color: #8f8f8f;
}

/*navigation bar*/
.navbar{
    padding: 0 0 4.5rem;
}
.navbar-brand{
    font-family: ubuntu;
    font-weight: bold;
    font-size: 2.5rem;
}
.nav-link{
    font-size: 1.2rem;
    font-family: Monteserrat;
}
.nav-item{
    padding: 0 18px;
}

.batan{
    margin:  5% 3% 5% 0%;
}

.iphone{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 25%;
}
@media (max-width:1028px){
    #title{
        text-align: center;
    }
    .iphone{
        position: static;
        transform: rotate(0deg);
        width:60%;
    }
}

/*feature-box*/
#features{
   padding: 7% 15% ;
   background-color: #fff;
   position: relative; 
}
.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;
}
.icon:hover{
    color: #ff4c68;
    
}

/*testimonials*/
#testimonials{
   
    background-color: #ef8172;
    text-align: center;
    color:#fff;

}
.carousel-item{
    padding: 7% 15%;
}
.kutta{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    padding-bottom: 3rem;
    text-align: center;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
 
/*pricing*/
#pricing{
    padding: 100px;
    text-align: center;
}
.pricing-col{
    padding: 3% 2%;
}

#cta{
    background-color: #ff4c68;
    text-align: center;
    color: #fff;
    padding: 7% 15%;
}
.kkk{
    font-family: 'Montserrat-dark', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}

#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}
